<div class="container mt-5 align-items-center">
  <div class="row align-items-center text-align-center justify-content-center">
    <div class="card w-50 align-items-center">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Enter Username</mat-label>
          <input
            ngModel
            name="userName"
            id="userName"
            matInput
            placeholder="Username"
          />
          <mat-hint>Username</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Enter Password</mat-label>
          <input
            name="userPassword"
            type="password"
            id="userPassword"
            ngModel
            matInput
            placeholder="Password"
          />
          <mat-hint>Password</mat-hint>
        </mat-form-field>
        <button class="w-100" type="submit" mat-raised-button color="primary">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
