<div class="container mt-5">
    <div class="card">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input
                type="text"
                class="form-control mb-3"
                ngModel
                name="userName"
                placeholder="Enter your username"
                id="userName">
                <input
                    type="text"
                    class="form-control mb-3"
                    ngModel
                    name="userPassword"
                    placeholder="Enter your Password"
                    id="userPassword">

                    <input
                        class="btn btn-outline-primary form-control rounded-0"
                        type="submit"
                        value="Login"></form>
                </div>
            </div>