.card {
  width: 400px;
  height: 25vh;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 2px solid black;
}

.card:hover {
  width: 600px;
  transform: scaleZ(10);
  transition: all;
  box-shadow: 1px solid red;
}

ul {
  list-style-type: none;
}

mat-grid-tile {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.image-container {
  position: relative;
  height: 300px;
}

.home-page-product-image {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.strike {
  margin-left: 10px;
  text-decoration: line-through;
}

.mat-column-description {
  width: 35% !important;
  justify-content: center;
}

table td {
  padding: 50px;
}
